/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */







 ol, ul {
     list-style: none outside none;
 }
 h1, h2 {
   margin: 0;
   padding: 0;
 }

 html {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     font-family: 'Niramit', sans-serif;
 }

 ul {
   margin: 0;
   padding: 0;

 }

 body.vsc-initialized {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
     text-align: center;
 }

 main#root {
     height: 100%;
     width: 100%;

 }

 .main-div {height: 100vh;width: 100vw;}

 .title-container {
     display: flex;
     justify-content: flex-start;
     margin-left: 1vw;
     flex: 1;
 }

 .section-container {
     height: 100%;
     display: flex;
     flex-direction: column;
 }

/* aboutME SECTION */

section.splash-section {
    height: 100vh;
}

section.AboutMe-section {
    height: 100vh;
}


img.hobbies-img {
    height: 100%;
    width: 100%;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}
ul.hobbies-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li.hobbies-li {
    margin: .5vh;
    height: 15vh;
    width: 15vh;
    position: relative;
}
.hobbies-li:hover .hobbies-img {
  opacity: 0.3;
}
.hobbies-li:hover .hobby-img-text-div {
  opacity: 1;
}

div.hobby-img-text-div {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

img#Roscoe {
    transform: rotate(90deg);
}

/* Skills section */

section.skills-section {
    height: 100vh;
    background: #16425B;
}



.skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex: 19;
}

section.skills-column {
    height: 100%;
    display: flex;
    align-items: center;
}
ul.skills-ul {
  margin-top: 5vh;
}

li.skills-li {
    margin-bottom: 2vh;
    color: #2F6690;
}



.skills-border {
  display: flex;
  flex-direction: column;
  height: 50vh;
  box-shadow: 2px 0px 7px 10px #387CA5;
  padding: 3vh;
  background: #D9DCD6;
}

h1#skills-title {
    color: #81D3C7;
}

h2.skills-h2 {
    color: #387CA5;
}

/* NAVBAR SECTION */

.navbar-div {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    overflow-x: hidden;
    font-variant: all-small-caps;
    font-size: 2.1vh;
    padding: 8px 0;
    color: #7f97a5;
    /* text-shadow: 0px 0px 0 #3A7CA5, 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000; */
}

.navbar-el {
    cursor: pointer;
}
