/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */






























ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
}






 ol, ul {
     list-style: none outside none;
 }
 h1, h2, h3 {
   margin: 0;
   padding: 0;
 }

 html {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     font-family: 'Niramit', sans-serif;
 }

 ul {
   margin: 0;
   padding: 0;

 }

 body.vsc-initialized {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
     text-align: center;
 }

 main#root {
     height: 100%;
     width: 100%;

 }

 .main-div {height: 100vh;width: 100vw;}

 .title-container {
     display: flex;
     justify-content: flex-start;
     margin-left: 1vw;
     flex: 1;
 }

 .section-container {
     height: 100%;
     display: flex;
     flex-direction: column;
 }

 h1.section-title {
    font-size: xx-large;
}

 /* Splash section  */
 h1#splash-title {color: #d9dcd6;}

 div#splash-blurb {
   font-size: x-large;
  }
  span.keywords {
    font-size: -webkit-xxx-large;
    color: #eaaeb7;
  }

 div#splash-content-container {
     flex: 19;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 section.splash-section {
     height: 100vh;
     background: #70aab5;
 }
/* aboutME SECTION */


section.hobbies {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    justify-content: center;
}


section.AboutMe-section {
    height: 100vh;
    background: #7f97a5;
}


img.hobbies-img {
    height: 100%;
    width: 100%;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}
ul.hobbies-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li.hobbies-li {
    margin: .5vh;
    height: 15vh;
    width: 15vh;
    position: relative;
}
.hobbies-li:hover .hobbies-img {
  opacity: 0.3;
}
.hobbies-li:hover .hobby-img-text-div {
  opacity: 1;
}

div.hobby-img-text-div {
    color: white;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

img#Roscoe {
    transform: rotate(90deg);
}

.about-content-container {
    flex: 19;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9vw;
}

section.aboutme-blurb {
    flex: 1;

    width: 100%;
}

li.blurb-li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.blurb-li-content {
    width: 400px;
    height: 100px;
    color: #e1e5f2;
}
h1#about-title {
    color: #94fbab;
}

.blurb-li-date {
    color: #94fbab;
    font-size: large;
    font-weight: bolder;
    text-shadow: 1px 1px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black; */
    font-size: xx-large;
}
/* Skills section */

section.skills-section {
    height: 100vh;
    background: #16425B;
}



.skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex: 19;
    margin-right: 10vw;
}

section.skills-column {
    height: 100%;
    display: flex;
    align-items: center;
}
ul.skills-ul {
  margin-top: 5vh;
}

li.skills-li {
    margin-bottom: 2vh;
    color: #2F6690;
}



.skills-border {
  display: flex;
  flex-direction: column;
  height: 50vh;
  box-shadow: 2px 0px 7px 10px #387CA5;
  padding: 3vh;
  background: #D9DCD6;
}

h1#skills-title {
    color: #81D3C7;
}

h2.skills-h2 {
    color: #387CA5;
}

/* NAVBAR SECTION */

.navbar-div {
    /* width: 7vw; */
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    overflow-x: hidden;
    font-variant: all-small-caps;
    font-size: 1.7vw;
    padding: 8px 0;
    margin-right: 1vw;
    color: white;
    text-shadow: -1px 1px 0 black, 0px 1px 0 black, 0px 1px 0 black, 0px 2px 0 black;
}

.navbar-el {
    cursor: pointer;
}



/* projects section */

.single-modal-container {
  cursor: pointer;
}

section#projects-parent {
    height: 100vh;
    background: #d9dcd6;
}
div#projects-content-container {
  flex: 19;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7vw;
}

.project-item-container {
    height: 30vh;
    width: 25vw;
    /* border: 1px solid black; */
}

.styles_modal__gNwvD.project-modal {
    width: 50vw;
    height: 50vh;
    padding: 0px;
}
.project-img {
  height: 100%;
  width: 100%;
}

.modal-box-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3px;
    box-shadow: 2px 0px 7px 10px #387CA5;
    width: 550px;
    height: 600px;
    background-color: white;
    margin-top: 10vh;
    min-width: 550px;
}

.single-modal-container {
    height: 250px;
    width: 350px;
    /* border: 1px solid black; */
    position: relative;
}

.ReactModal__Content.ReactModal__Content--after-open.photo-show-modal {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
}

.project-item-content {
    height: 100%;
    width: 100%;
}
.project-img-container {
    height: 350px;
    width: 550px;
}

.project-item-info {
    border-top: 3px solid #387CA5;
    height: 250px;
    /* background: #d9dcd6; */
}

.project-title-div {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    align-items: flex-start;
}

h2.project-title {
    margin-left: 2vw;
}
h3.project-info {
    margin-left: 2vw;
}

h1#project-title {
    color: #2f6690;
}



h2.project-title {
    color: #3a7ca5;
}

h3.project-info {
    color: #7f97a5;
    font-size: large;
}

.project-blurb-div {
    text-align: left;
    margin-left: 2vw;
    margin-top: 2vh;
}

div#project-items-container {
    display: FLEX;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    width: 100%;
}

img.project-splash-img {
    height: 100%;
    width: 100%;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.project-title-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.single-modal-container:hover .project-splash-img {
  opacity: 0.3;
}
.single-modal-container:hover .project-title-overlay {
  opacity: 1;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */



























ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
}






 ol, ul {
     list-style: none outside none;
 }
 h1, h2, h3 {
   margin: 0;
   padding: 0;
 }

 html {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     font-family: 'Niramit', sans-serif;
 }

 ul {
   margin: 0;
   padding: 0;

 }

 body.vsc-initialized {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
     text-align: center;
 }

 main#root {
     height: 100%;
     width: 100%;

 }

 .main-div {height: 100vh;width: 100vw;}

 .title-container {
     display: flex;
     justify-content: flex-start;
     margin-left: 1vw;
     flex: 1;
 }

 .section-container {
     height: 100%;
     display: flex;
     flex-direction: column;
 }

 h1.section-title {
    font-size: xx-large;
}

 /* Splash section  */
 h1#splash-title {color: #d9dcd6;}

 div#splash-blurb {
   font-size: x-large;
  }
  span.keywords {
    font-size: -webkit-xxx-large;
    color: #eaaeb7;
  }

 div#splash-content-container {
     flex: 19;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 section.splash-section {
     height: 100vh;
     background: #70aab5;
 }
/* aboutME SECTION */


section.hobbies {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    justify-content: center;
}


section.AboutMe-section {
    height: 100vh;
    background: #7f97a5;
}


img.hobbies-img {
    height: 100%;
    width: 100%;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}
ul.hobbies-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li.hobbies-li {
    margin: .5vh;
    height: 15vh;
    width: 15vh;
    position: relative;
}
.hobbies-li:hover .hobbies-img {
  opacity: 0.3;
}
.hobbies-li:hover .hobby-img-text-div {
  opacity: 1;
}

div.hobby-img-text-div {
    color: white;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

img#Roscoe {
    transform: rotate(90deg);
}

.about-content-container {
    flex: 19;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9vw;
}

section.aboutme-blurb {
    flex: 1;

    width: 100%;
}

li.blurb-li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.blurb-li-content {
    width: 400px;
    height: 100px;
    color: #e1e5f2;
}
h1#about-title {
    color: #94fbab;
}

.blurb-li-date {
    color: #94fbab;
    font-size: large;
    font-weight: bolder;
    text-shadow: 1px 1px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black; */
    font-size: xx-large;
}
/* Skills section */

section.skills-section {
    height: 100vh;
    background: #16425B;
}



.skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex: 19;
    margin-right: 10vw;
}

section.skills-column {
    height: 100%;
    display: flex;
    align-items: center;
}
ul.skills-ul {
  margin-top: 5vh;
}

li.skills-li {
    margin-bottom: 2vh;
    color: #2F6690;
}



.skills-border {
  display: flex;
  flex-direction: column;
  height: 50vh;
  box-shadow: 2px 0px 7px 10px #387CA5;
  padding: 3vh;
  background: #D9DCD6;
}

h1#skills-title {
    color: #81D3C7;
}

h2.skills-h2 {
    color: #387CA5;
}

/* NAVBAR SECTION */

.navbar-div {
    /* width: 7vw; */
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    overflow-x: hidden;
    font-variant: all-small-caps;
    font-size: 1.7vw;
    padding: 8px 0;
    margin-right: 1vw;
    color: white;
    text-shadow: -1px 1px 0 black, 0px 1px 0 black, 0px 1px 0 black, 0px 2px 0 black;
}

.navbar-el {
    cursor: pointer;
}



/* projects section */

.single-modal-container {
  cursor: pointer;
}

section#projects-parent {
    height: 100vh;
    background: #d9dcd6;
}
div#projects-content-container {
  flex: 19;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7vw;
}

.project-item-container {
    height: 30vh;
    width: 25vw;
    /* border: 1px solid black; */
}

.styles_modal__gNwvD.project-modal {
    width: 50vw;
    height: 50vh;
    padding: 0px;
}
.project-img {
  height: 100%;
  width: 100%;
}

.modal-box-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3px;
    box-shadow: 2px 0px 7px 10px #387CA5;
    width: 550px;
    height: 600px;
    background-color: white;
    margin-top: 10vh;
    min-width: 550px;
}

.single-modal-container {
    height: 250px;
    width: 350px;
    /* border: 1px solid black; */
    position: relative;
}

.ReactModal__Content.ReactModal__Content--after-open.photo-show-modal {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
}

.project-item-content {
    height: 100%;
    width: 100%;
}
.project-img-container {
    height: 350px;
    width: 550px;
}

.project-item-info {
    border-top: 3px solid #387CA5;
    height: 250px;
    /* background: #d9dcd6; */
}

.project-title-div {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    align-items: flex-start;
}

h2.project-title {
    margin-left: 2vw;
}
h3.project-info {
    margin-left: 2vw;
}

h1#project-title {
    color: #2f6690;
}



h2.project-title {
    color: #3a7ca5;
}

h3.project-info {
    color: #7f97a5;
    font-size: large;
}

.project-blurb-div {
    text-align: left;
    margin-left: 2vw;
    margin-top: 2vh;
}

div#project-items-container {
    display: FLEX;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    width: 100%;
}

img.project-splash-img {
    height: 100%;
    width: 100%;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.project-title-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.single-modal-container:hover .project-splash-img {
  opacity: 0.3;
}
.single-modal-container:hover .project-title-overlay {
  opacity: 1;
}

/* Contact SECTION */

section#contact-parent {
    background: steelblue;
    height: 100vh;
}

div#contact-content-container {
    flex: 19;
    align-items: center;
    justify-content: center;
    display: flex;
}

form.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}

input.contact-input {
    width: 100%;
    height: 30px;
    font-size: 12px;
}

textarea#contact-text-area {
    width: 100%;
    height: 200px;
    font-size: 12px;
}

img.link-logo-img {
    height: 50px;
    margin-left: 20px;
}

.footer-bar {
    flex: 4;
    background: snow;
}

.footer-bar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.copyright {
    margin-top: 20px;
    font-size: 20px;
}

h1#contact-title {
    color: azure;
}
img#resume-pic {
    height: 100%;
    width: 100%;
    margin-left: 0px;
}

a#resume-link {
    width: 100px;
}
